# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
extra_apps
.DS_Store
apps/courses/__pycache__/
apps/courses/migrations/__pycache__/
apps/operation/__pycache__/
apps/operation/migrations/__pycache__/
apps/organization/__pycache__/
apps/organization/migrations/__pycache__/
apps/users/__pycache__/
apps/users/migrations/__pycache__/
templates/

MxOnline/__pycache__/